body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
 
}

.nav-link {
 
  font-size: 1.2rem;
  margin: auto 1.2rem;
  font-family: "Montserrat-Light" sans-serif;
}

p {
  color: #8f8f8f;
}

/* headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding-right: 50px;
  
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}



/* Section */
.colored-section{
 background-color: #ff4c68;
 color: #fff;
}


.white-section{
background-color: white;
}

/* title Section */


#title .title-container {
  padding: 3% 15% 5%;
  text-align: left;
}
.download-btn {
  margin: 5% 3% 5% 0;
}

.iphone-image {
  transform: rotate(25deg);
  width: 15%;
  position: absolute;
  right: 20%;
}
@media (max-width: 1028px) {
  .iphone-image {
    transform: rotate(0);
    width: 30%;
    position: absolute;
    right: 350px;
    }
  #title .title-container {
    padding: 3% 7% 54%;
    text-align: center;
  }

  .big-heading {
    font-size: 2rem;
    line-height: 1.5;
    font-weight:900;
    padding: 0;
    
  }
  
  .section-heading {
    font-size: 2rem;
    line-height: 1.5;
  }

 
}
.row {
  margin: 20px 0 0 0;
}
/* features */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4%;
}

.feature-icons {
  color: #ef8172;
  margin: 1rem;
}
.feature-icons:hover {
  color: #ff4d69;
}
p {
  color: #8f8f8f;
  font-weight: 500;
}

.container-fluid {
  padding: 7% 15%;
}

/* Testimonials */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width: 1028px) {
  .testimonial-text {
    font-size: 1.5rem;
    line-height: 1.5;
  }
 
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {

  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 7% 5%;
}

.pricing-title {
  font-size: 1.5rem;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card-text {
  line-height: 0.88;
}

.price-column {
  padding: 3% 2%;
}

/* Call to Action (CTA) */



/* footer */

.footer-icon {
  margin: 20px 10px;
  color: black;
}

.footer-icon:hover {
  color: grey;
}
